.home-page {
    .desc {
        position:absolute;
        left: 10%;
        top: 40%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }
    h1 {
        color: #ffffff;
        font-size: 55px;
        margin-bottom: 10px;
        font-family: "Coolvetica";
        font-weight: 400;
    }
    h2 {
        color: #ffffff;
        font-family: "Mulish", sans-serif;
        font-weight: 350;
        font-size: 27px;
        margin-bottom: 2px;
    }
    .typewriter-container {
        font-family: "Mulish", sans-serif;
        color: #ffffff;
        font-weight: 350;
        font-size: 27px;
        overflow: hidden;
    }


    .typewriter-container .text {
        position: relative;
    }

    .text.sec-text {
        text-decoration: underline;
        font-style: italic;
        color: #5ce9ec;
    }

    .text.sec-text:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 101%;
        background-color: #3c5b79;
        border-left: 2px solid #ffffff;
        animation: animate 4s steps(12) infinite;
    }

    @keyframes animate {
        40%, 60% {
            left: 100%;
        }
        100% {
            left: 0%
        }
    }


    .contact-link {
        font-family: "Mulish", sans-serif;
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 2px;
        text-decoration: none;
        padding: 10px 18px;
        border: 2px solid #ffffff;
        margin-top: 27px;
        float: left;
        white-space: nowrap;

        &:hover{
            background: #ffffff;
            color: #3c5b79;
        }
    }
}