.sidebar {
    background: rgb(34, 35, 34);
    width: 80px;
    height: 100%;
    position: absolute;
    z-index: 3;
    min-height: 500 px;

    .k-logo {
        display: block;
        img{
            display: block;
            margin: 4px auto;
            width: 75px;
            height: auto;
        }
    }

    nav{
        display: block;
        position: absolute;
        text-align: center;
        height: 210px;
        top: 50%;
        width: 100%;
        margin-top: -120px;

        a {
            display: block;
            line-height: 51px;
            height: 55px;
            position: relative;
            text-decoration: none;

            i {
                transition: all 0.4s ease-out;
            }

            &:hover {
                color: #4d7fc1;
                svg {
                    opacity: 0;
                }
                &:after {
                    opacity: 1;
                }
            }
            
            &:after {
                content: '';
                font-size: 15px;
                font-weight: 250;
                font-family: 'Coolvetica';
                letter-spacing: 1px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;

            }

            &:first-child {
                &::after {
                    content: 'Home';
                }
            }
            &:nth-child(2) {
                &::after{
                    content: "Skills";
                }
            }
            &:nth-child(3){
                &::after{
                    content: "About";
                }
            }
            &:nth-child(4){
                &::after{
                    content: "Projects";
                }
            }
            &:nth-child(5){
                &::after{
                    content: "Contact";
                }
            }
        }

        a.active {
            svg {
                color: #ffffff;
            }
        }
    }

    ul{
        position: absolute;
        display: block;
        bottom: 0.1%;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 30px;

        li{
            a{
                padding: 15px 10px 10px 0px;
                display: block;
                line-height: 15px;
                &:hover svg{
                    color: #ffffff;
                }
            }
        }
    }
}